@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --success-color: #2ecc71;
    --error-color: #e74c3c;
    --border-color: #ddd;
    --focus-border-color: #777777;
    --button-submit-color: #3498db;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f9fafb;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

h2 {
    text-align: center;
    margin: 0 0 20px;
}

.form {
    padding: 30px 40px;
}

.form-control {
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 20px;
}

.form-control label {
    display: block;
    color: var(--focus-border-color);
    margin-bottom: 5px;
}

.form-control input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    font-size: 14px;
    display: block;
}

.form-control input:focus {
    outline: 0;
    border-color: var(--focus-border-color);
}

.form-control.success input {
    border-color: var(--success-color);
}

.form-control.error input {
    border-color: var(--error-color);
}

.form-control small {
    color: var(--error-color);
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form-control.error small {
    visibility: visible;
}

.form button {
    width: 100%;
    display: block;
    padding: 10px;
    font-size: 16px;
    background-color: var(--button-submit-color);
    cursor: pointer;
    border: 2px solid var(--button-submit-color);
    color: #fff;
    border-radius: 4px;
    margin-top: 20px;
}
.container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    width: 400px;
}